.app-header{
    background: bisque;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 998;
    border-bottom: 1px solid #aaa;
    }

    .title{
        display: inline-block;
        transform: translate(0, 50%);
        margin-left: 25px;
        font-size: 25px;
    }

    .username{
        display: inline-block;
        transform: translate(0, 52%);
        margin-left: 30px;
        font-size: 18px;
    }

    .logout{
        border: none;
        background-color: inherit;
        cursor:pointer;
        color: blue;
        font-size: 15px;
    }

    :hover.logout, :hover.button{
        color: plum;
    }

    .linkContaineir{
        position: "fixed";
        height: 50px;
        transform: translate(0, 40%);
        display: inline-block;
        align-items:center;
        float: right;
        margin-right: 30px;
    }

    .button{
        margin: 10px;
        color: blue;
        text-decoration: none;
        font-size: 15px;
    }