<header class="app-header">
    <div>
        <h3 class="title">Pokemon Trainer</h3>
        <h4 class="username">Current user:  {{username}}</h4>
        <div class="linkContaineir">
            <a class="button" routerLink="/catalogue">Catalogue</a>
            <a class="button" routerLink="/profile">Profile</a>
            <button class="logout" (click)="logout()">Logout</button>
        </div>
    </div>
</header>
