<div class="parent">
    <div class="loginContainer">
        <h4>Login</h4>
        <input type="text" placeholder="username required" #username_>
        <button type="button" class="btn login" (click)="Login(username_.value)">Login</button>
    </div>
</div>
