.parent
{   display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    border: 1.5px solid black;
    border-radius: 5px;
    background: bisque;
}

.loginContainer{
    margin-bottom: 10%;
}

.login {
    margin-left: 5px;
    border-color: blue;
    border-radius: 0;
    color: black;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
    background-color: white;
  }
  .login:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: blue;
    z-index: -1;
    -webkit-transition: width 150ms ease-in-out;
    transition: width 150ms ease-in-out;
  }
  .login:hover {
    color: #fff;
  }
  .login:hover:after {
    width: 110%;
  }