
.catalogue{
    margin-right: 50px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 15vw);
    grid-gap: 1.2vw;
}

.content{
    margin-top: 80px;
    margin-left: 50px;
}

.img{
    width: 10vw;
    object-fit: cover;
    margin-top: 1vw;
}

.pokemonContainer{
    border: 1px solid black;
    text-align: center;
    border-radius: 0.5vw;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    background-color: white;
}

.pokemonName{
    background-color: #F7F6DC;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    position: "absolute";
    font-size: 1.2vw;
}

.modal{
    background: rgba(255, 255, 255, 1);
    position: fixed;
    top: 100px;
    left: 35%;
    height: 350px;
    width: 30vw;
    z-index: 998;
    border-bottom: 1px solid #aaa;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    visibility: visible;
}

.modalImg{
    width: 100px;
}

#modalHeader{
    margin-top: 35px;
    font-size: 17px;
}

#modalBtn{
    margin-left: 10px;
    height: 25px;
}

#modalContent{
    font-size: 15px;
    margin: 20px;
}

.parent{
    position: relative;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.2s, fadeout 0.5s 1s;
    animation: fadein 0.2s, fadeout 0.5s 1s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  .add {
    border-color: #35dd14;
    border-radius: 0;
    color: black;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
    background-color: white;
  }
  .add:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #35dd14;
    z-index: -1;
    -webkit-transition: width 150ms ease-in-out;
    transition: width 150ms ease-in-out;
  }
  .add:hover {
    color: #fff;
  }
  .add:hover:after {
    width: 110%;
  }

  .close {
    border-color: #e61111;
    border-radius: 0;
    color: black;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
    background-color: white;
  }
  .close:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #e61111;
    z-index: -1;
    -webkit-transition: width 150ms ease-in-out;
    transition: width 150ms ease-in-out;
  }
  .close:hover {
    color: #fff;
  }
  .close:hover:after {
    width: 110%;
  }