<div class="parent">
    <app-header></app-header>
    <div class="content"></div>
    <div id="modalID" class="modal" [style.visibility]="isHidden ? 'hidden' : 'visible'">
        <p id="modalHeader">Bulbasaur</p>
        <img class="modalImg" [src]="imgSrc" alt="pokemon pic">
        <p id="modalContent">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Phasellus mi lacus,
            facilisis sed vestibulum ac, dapibus et erat. 
            Cras pulvinar ornare massa eu condimentum</p>
        <button id="modalBtn" class="btn close" (click)="closeModal()">close</button>
        <button id="modalBtn" class="btn add" (click)="addToParty()">add to party</button>
    </div>
    <div class="catalogue">
        <button (click)="log(el.url, el.name, el.img, el.entry)" class="pokemonContainer" *ngFor="let el of parsedPokemonData">
            <img class="img" src={{el.img}}>
            <p class="pokemonName">#{{el.entry}} {{el.name}}</p>
        </button>
    </div>
    <div id="snackbar">Some text some message..</div>
</div>



