/* WIP EXTRA feature please dont grade */
/* WIP EXTRA feature please dont grade */
/* WIP EXTRA feature please dont grade */
/* WIP EXTRA feature please dont grade */
/* WIP EXTRA feature please dont grade */
/* WIP EXTRA feature please dont grade */
/* WIP EXTRA feature please dont grade */
/* WIP EXTRA feature please dont grade */
/* WIP EXTRA feature please dont grade */
/* WIP EXTRA feature please dont grade */
/* WIP EXTRA feature please dont grade */
.content{
    margin-top: 70px;
}
.img{
    width: 20vw;
    object-fit: cover;
    margin-top: 1vw;
}

.pokemonContainer{
    border: 1px solid black;
    text-align: center;
    border-radius: 0.5vw;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    width: 20%;
}