<!--WIP pls dont grade encounter-->
<!--WIP pls dont grade encounter-->
<!--WIP pls dont grade encounter-->
<!--WIP pls dont grade encounter-->
<!--WIP pls dont grade encounter-->
<!--WIP pls dont grade encounter-->
<!--WIP pls dont grade encounter-->
<!--WIP pls dont grade encounter-->
<!--WIP pls dont grade encounter-->
<!--WIP pls dont grade encounter-->
<app-header></app-header>
<h4 class="content">Encounter Pokemon Here! - {{username}}</h4>
<p>here you can encounter new pokemon for a chance to catch em all</p>
<p>TODO: load random pokemon based on pokedex entry (id)</p>
<p>type the name on an input field</p>
<p>if typed name is correct "catch" pokemon and add it to an array</p>

<input type="text" placeholder="Name of the Pokemon" #pokemonName_>
<button type="button" (click)="checkAnswer(pokemonName_.value)">Catch!</button>
<div class="pokemonContainer">
    <img class="img" src={{randomPokemon.img}}>
</div>
