<app-header></app-header>
<div class="content">
    <img class="ethan" src="https://archives.bulbagarden.net/media/upload/thumb/c/c0/HeartGold_SoulSilver_Ethan.png/200px-HeartGold_SoulSilver_Ethan.png" alt="Ethan">
    <div class="parent">
        <div id={{el.entry}} class="pokemonContainer" *ngFor="let el of pokemonList">
            <img class="block" src={{el.img}}>
            <p class="text">{{el.name}}</p>
            <button class="btn remove" type="button" (click)="partyRemove(el.entry)">remove</button>
        </div>
    </div>
    <img class="lyra" src="https://archives.bulbagarden.net/media/upload/thumb/2/25/HeartGold_SoulSilver_Lyra.png/285px-HeartGold_SoulSilver_Lyra.png" alt="Ethan">
</div>

