
.content{
    margin-top: 90px;
    position: relative;
}

.parent{
    width: 100%;
    align-items: center;
}

.pokemonContainer{
    width: 30%;
    border: 1.5px solid black;
    margin-left: 35%;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.block {
    width: 100px;
  }

  .text{
    width: 100px;
    margin-left: 30px;
    margin-top: 11%;
  }

.remove {
    width: 60px;
    height: 20px;
    justify-content: center;
    margin-top: 11%;
    margin-left: 30px;
    background-color: white;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    border-width: thin;
    border-radius: 2px;
    padding: 0px;
  }
  .remove:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
    color: aliceblue;
  }

  .ethan{
    width: 140px;
    position: absolute;
    top:100px;
    left: 130px;
  }

  .lyra{
    width: 140px;
    position: absolute;
    top:100px;
    right:130px;
  }
